*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    background-color:rgba(18, 27, 37, 1) ;
}
.wrapper{
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 150px;
}
.nav_link_btn{
    display: flex;
    align-items: center;
    gap: 74px;
}
.link{
    display: flex;
    align-items: center;
    gap: 40px;
}
.link a{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.link button{
    width: 100px;
    height: 41px;
    background-color: rgba(26, 160, 144, 1);
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
.link button:hover{
    border: 2px solid #1AA090;
    background-color: rgba(18, 27, 37, 1);
}
.link a:hover{
    border-bottom: 2px solid #1AA090;
}



/* section1 */


.section1{
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-image: url(./img/diamond\ overlay\ pattern.svg);
    background-repeat: no-repeat;
    background-position: right;    
}
.text_perfect{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18px;
    width: 697px;
    z-index: 2;
}
.img_perfect img{
    margin-top: -30px;
    margin-left: -200px;
    width: 600px;
    height: 600px;
    z-index: 0;
}
    /* .img_perfect{
        background-image: url(./img/pexels-binyamin-mellish-106399\ 2.jpg);
        width: 600px;
        height: 600px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: -50px;
    } */
.text_perfect > p{
    color: #FFF;
    font-size: 68px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}
.text_perfect > span{
    color: #D6D6D6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
.location{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.30);
    width: 750px;
    padding: 5px;
    height: 100px;
    margin-top: 60px;
}
.buy{
    width: 200px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-right: 2px solid #858585;
}
.buy p{
    color: #858585;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.buy a{
    color: #121B25;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}
.buy button{
    background: #15786C;
    width: 164px;
    height: 90px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    margin-left: 30px;
}




/* section2 */



.section2{
    padding: 40px 150px;
}
.section2 p{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}
.main_holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 53px;
}




/* section3 */



.section3{
    padding: 163px 150px;
    background-image: url(./img/78248-[Converted]\ 1.png);
    background-color: #1A242F;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}
.main_holder_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 100px;
}
.section3 > p{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}
.card{
    height: 460px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card img{
    width: 420px;
    /* height: 340px; */
}
.card p{
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    letter-spacing: 0.26px;
    text-transform: capitalize;
    padding-top: 22px;
    margin-bottom: 3px;
}
.card span{
    color: #D6D6D6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
.bed{
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 20px;
}
.icon_bed{
    display: flex;
    align-items: center;
    gap: 4px;
}
.section3 button{
    width: 206px;
    height: 62px;
    flex-shrink: 0;
    background: #1AA090;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    margin-top: 68px;
}



/* section4 */



.section4{
    padding: 163px 150px;
    background-color: #121B25;
}
.section4 > p{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}
.card_sircle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 378px;
}
.card_sircle img{
    padding: 50px;
    border-radius: 90px;
    background-color: #1A242F;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
}
.card_sircle p{
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    letter-spacing: 0.26px;
    text-transform: capitalize;
    padding-top: 36px;
}
.card_sircle span{
    padding-top: 11px;
    color: #D6D6D6;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
.holder_sircle_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

/* section5 */

.section5{
    padding: 163px 150px;
    background-color: #121B25;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(./img/arrow\ shade\ pattern.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.section5 h1{
    color: #1AA090;
    font-size: 260px;
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: 147%; */
    /* text-transform: capitalize; */
}
.section5 span{
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 157%;
    text-transform: capitalize;
    margin-top: -120px;
}
.section5 a{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    letter-spacing: 0.22px;
    text-transform: capitalize;
    padding-top: 40px;
}
.section5 p{
    color: #D6D6D6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}


/* section6 */


.section6{
    padding: 163px 150px;
    background-color: #1A242F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 53px;
}
.img_home{
    display: flex;
    align-items: center;
    gap: 20px;
}
.text_home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.text_home p{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}
.text_home span{
    color: #D6D6D6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    padding-top: 22px;
    margin-bottom: 45px;
}
.text_home button{
    border: none;
    width: 233px;
    height: 72px;
    flex-shrink: 0;
    background: #1AA090;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}



/* .section7 */



.section7{
    padding: 163px 150px;
    background-color: #121B25;
    background-image: url(./img/curve\ line\ patter.svg);
    background-repeat: no-repeat;
    background-position: left, end;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.txt_btn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section7 p{
    width: 512px;
    color: #FFF;
    font-size: 68px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    text-transform: capitalize;
}
.section7 span{
    color: #D6D6D6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
.section7 button{
    border: none;
    width: 200px;
    height: 62px;
    flex-shrink: 0;
    background: #1AA090;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 30px;
}



/* footer */


footer{
    padding: 100px 150px;
    background-color: #1A242F;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.foot_logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.foot_logo p{
    color: #FFF;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 126%;
    letter-spacing: 0.26px;
    text-transform: capitalize;
    margin-bottom: 21px;
}
.foot_logo a{
    color: #D6D6D6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
/* .foot_logo a:hover{
    border-bottom: 2px solid #15786C;
} */




/* section8 */




.section8{
    background-color:white;
    padding: 20px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section8 a{
    color: #121B25;
}